.VerContainer {
    background-color: #FFFFFF !important;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 690px;
    border-radius: 10px;
    padding: 20px;
}

.VerContainer .VerButton {
    background-color: transparent !important;
    color: #29D142 !important;
    border: 1px solid #29D142 !important;
}

.VerContainer .VerButton:hover {
    background-color: #29D142 !important;
    color: #FFFFFF !important;
    border: none !important;
}
